.std-banner {
  text-transform: uppercase;
  text-align: center;
  background-color: #434056;
  // background-color: #333;
  color: white;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // font-weight: 400;
}

.std {
  font-size: 40px;
  margin: 0;
}

.std-details {
  position: relative;
  z-index: 1;
  text-shadow: 1px 1px 3px #434056;
  font-family: 'Open Sans Condensed', sans-serif;
}

.date {
  color: #E3D6D9;
  font-family: 'Monoton', sans-serif;
  font-size: 100px;
  @media (max-width: 600px) {
    font-size: 60px;
  }
}

.tophat {
  position: absolute;
  right: 0; 
  bottom: 0; 
  z-index: 0;
  @media (max-width: 600px) {
    height: 340px;
  }
}

.moon {
  position: absolute;
  left: 10px;
  top: 20px;
  z-index: 0;

  @media (max-width: 800px) {
    height: 260px;
    // display: none;
  }
   @media (max-width: 600px) {
    height: 160px;
    // display: none;
  }
}

.bw {
  filter: grayscale(100%);
}

