* {
    box-sizing: border-box;
}

.std-banner {
  text-transform: uppercase;
  text-align: center;
  background-color: #434057;
  color: white;
  height: 100vh;
  position: relative;
  padding-top: 30%;
  overflow: hidden;

  
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
  }
}

.std {
  font-size: 30px;
  margin: 0;

  @media (min-width: 600px) {
    font-size: 50px;
  }
  @media (min-width: 1000px) {
    font-size: 60px;
  }
}

.std-details {
  position: relative;
  z-index: 1;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-shadow: 2px 2px 0px black;
}

.date {
  color: #E3D6D9;
  color: #F3E9EB;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 10px;
  font-size: 60px;
  text-shadow: 4px 4px 0px #34A3BB;

  @media (min-width: 600px) {
    text-shadow: 6px 6px 0px #34A3BB;
    font-size: 100px;
  }
  
  @media (min-width: 1000px) {
    font-size: 120px;
  }

}

.tophat {
  position: absolute;
  z-index: 0;
  @media (max-width: 600px) {
    right: 0; 
    height: 340px;
  }
}

.moon {
  position: absolute;
  left: 10px;
  top: 20px;
  z-index: 0;
    height: 500px;

  @media (max-width: 1100px) {
    height: 400px;
  }
  @media (max-width: 800px) {
    display: block;
    height: 260px;
  }
  @media (max-width: 600px) {
    height: 160px;
    display: none;
  }
}

.stars {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 80%;

  @media (max-width: 800px) {
    width: 80%;
  }
}

.bw {
  filter: grayscale(100%);
}

