.stdbanner {
  // text-transform: uppercase;
  font-family: 'Monoton', sans-serif;
  text-align: center;
  background-color: #434056;
  // background-color: #333;
  color: white;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // font-weight: 400;
}

.std {
  font-size: 40px;
  margin: 0;
}

.date {
  color: #E3D6D9;
  font-size: 100px;
  // font-weight: bold;
}

.tophat {
  position: absolute;
  right: 0; 
  bottom: 0; 
}

.moon {
  position: absolute;
  left: 0;
  top: 20px;
}

.bw {
  filter: grayscale(100%);
}

